
#profile {
    width: 150px;
    height: 150px;
    /* border-radius: 10%; */
    color: white;
    margin-left: 25px;
 
}

#profileCard {
    /* border-radius: 20%; */
    background-color: rgba(11, 19, 43, 0.5);
    color: white;
    -webkit-box-shadow: 1px 10px 46px 9px rgba(0,0,0,0.87);
-moz-box-shadow: 1px 10px 46px 9px rgba(0,0,0,0.87);
box-shadow: 1px 10px 46px 9px rgba(0,0,0,0.87);

    
}

#pageColor {
    background-color: #3A506B;
}

#navColor {
    background-color: #0B132B;
}

img {
   
    width: 100px;
    height: 500px;
}

h1 {
    color: white;
}

.colorIcon {
    color: white;
}

#pic {
    width:  200px;
    height: 200px;
}

#font, p, .uk-section, li, ul, h1, h2, h3, h4 {
    font-family: 'Bangers', cursive;
    color: white;
  
}


